{% extends "base.html" %}
{% block title %}
    Технологии
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <div class="container py-5">
        <section class="tech row">
            <div class="class=col-sm-12 col-md-12 col-lg-8">
                <h3>Вот что я умею</h3>
                <p>
                    Это примерный исходник шаблона с технологиями. 2022 год, а фигачим на Джанге 2.2? Да и питончик 3.7.9 не
                    вдохновляет. Но оно работает и в целом норм) По крайней мере курс интересный. А раз я бэк, то как-нибудь пну
                    своего внутренного фронта и доработаю енто всё!11 азазаз!!1!<br>

                    Итак, идет 2025 год. Пора поправить уязвимости и сделать что-то новое. Но это не точно. Переходим на питончик
                    3.8.6. Адаптировал проект на джангу 4.2.24. Всё работает как и раньше. Есть парочка warning, но не суть.
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python 3.8.6</li>
                    <li class="list-group-item">Django 4.2.24</li>
                    <button type="button" onclick="letMyJavascript()">Кликни по мне</button>
                </ul>
            </div>
        </section>
    </div>
    <script>
        function letMyJavascript() {
            alert("Вы кликнули на кнопку!");
        }
    </script>
{% endblock content %}
